.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 24px 64px;
  background: var(--inputs);
  border-bottom: 1px solid var(--badges);
}

.logo {
  position: absolute;
  left: 64px;
}
