.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.title {
  color: var(--main);
}

.text {
  margin-top: 24px;
  color: var(--gray);
}
