.truckEquipment {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.budge {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--badges);
  mix-blend-mode: multiply;
}
