.link {
  padding: 16px 48px;
 
  border-radius: 200px;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 150%;
 
  text-decoration: none;
  letter-spacing: -0.01em;
}

.red {
  background-color: var(--button);
  color: var(--white);
}

.white {
  background-color: var(--gray-light);
  color: var(--text);
}