@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  /* --badges: #eaecef; */
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
  --font-family: 'Inter', sans-serif;
}

body {
  min-width: 1440px;
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 24px;
}

.Body2 {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

a {
  text-decoration: none;
  outline: none;
}

h2,
.h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.h3 {
  font-size: 20px;
  /* font-family: Inter; */
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.button {
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.divider {
  border: none;
  border-top: 1px solid var(--gray-light);
  margin: 24px 0;
  transform: translateY(-50%);
}
