.container {
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: calc(100vh - 73px);
  padding: 0 64px;
  background: url('/Picture.jpg'), rgba(0, 0, 0, 0.2);
  background-size: cover;
}

.title {
  margin-bottom: 16px;
  font-size: 48px;
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 67%;
  color: var(--inputs);
}

.subtitle {
  font-size: 24px;
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 133%;
  color: var(--inputs);
}
